section {
  width: 100vw;
  height: 100vh;
}

#my-canvas, #svg {
  width: 100%;
  height: 100%;
}

.node {
  stroke: #000;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-width: 1.5px;
}

.node-content {
  position: fixed;
  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
}
