body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
  z-index: 100;
  a {
    margin: 10px;
    cursor: pointer;
  }
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
}

//  modal window
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent; /* Fallback color */
  /* Modal Content/Box */

  &-content {
    position: fixed;
    z-index: 2;
    width: 500px;
    height: 200px;
    background-color: #fefefe;
    // margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover, &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

#save {
  position: fixed;
  left: 0;
  top: 0;
}
